.DS_Store
*zip
*.love
*.pxm
/*.lua
extensions/*.lua
entities/*.lua
actors/*.lua
views/*.lua
build/*
game_plays/*lua
game_states/*lua
spec/**/*_spec.lua
game_plays/colony/entities/*lua
game_plays/colony/**/*lua
lib/map_gen.lua
lib/voronoi.lua
tmp
inspiration/
screenshots/
presskit/
matter/*lua
entities/plants/*lua
lib/lsystem.lua
data/*.lua
views/evolution_kit/*lua
entities/other/*lua
